langage: python
python: 
        - "3.6"
        - "3.7"
        - "3.8"
install:
        - pip install -r requirements.txt
script:
        - black src/ tests/
        - pytest --cov=src
        - flake8 src/ tests/
after_success:
        - coveralls
